<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartCampusApp">
        <activity
            android:name=".QRScannerActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceMain"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"/>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AddBuildingActivity"
            android:exported="false" />
        <activity
            android:name=".MapsActivity"
            android:exported="false" />
        <activity
            android:name=".BuildingsActivity"
            android:exported="false" />

        <activity
            android:name=".LostFoundItemActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <!-- NEW: History page -->
        <activity
            android:name=".ReportHistoryActivity"
            android:exported="false" />

        <!-- NEW: Edit page -->
        <activity
            android:name=".EditReportActivity"
            android:exported="false" />

        <!-- Report form -->
        <activity
            android:name=".ReportLostItemActivity"
            android:exported="false" />

        <!-- Lost & Found listing -->
        <activity
            android:name=".LostAndFoundActivity"
            android:exported="false" />

        <!-- Map picker -->
        <activity
            android:name=".MapPickerActivity"
            android:exported="false" />

        <!-- Auth -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA6YAVAmgLuMktBy4DvLeIOkvCGgdIKIu8" />

        <!-- FileProvider untuk camera -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>